body {
  font-size: 10px;
  font-family: "Poiret One", monospace, sans-serif;
}

.pokeWrapper {
  text-align: center;

  .imgWrapper {
    animation: wiggler 2s infinite;
  }
}

@keyframes wiggler {
  0% {transform: rotate(4deg);}
  50% {transform: rotate(-4deg);}
  100% {transform: rotate(4deg);}
}
